<div class="sidebar-contant">
  <div class="img-wrap">
    <img class="img-responsive" src="../../../../assets/img/my_photos.png" alt="my photo">
  </div>
  <h2 class="sidebar-title">Ivan Hladysh</h2>
  <h5 class="job-title">Front-end developer from Lviv</h5>
  <nav>
    <ul class="nav-list">
      <li routerLinkActive="active" class="nav-item">
        <a routerLink="/about" class="nav-link"> About</a>
      </li>
      <li routerLinkActive="active" class="nav-item">
        <a routerLink="resume"  class="nav-link">Resume</a>
      </li>
      <li routerLinkActive="active" class="nav-item">
        <a routerLink="portfolio"  class="nav-link">Portfolio</a>
      </li>
      <li routerLinkActive="active" class="nav-item">
        <a routerLink="blog"  class="nav-link">Blog</a>
      </li>
      <li routerLinkActive="active" class="nav-item">
        <a routerLink="contacts"  class="nav-link">Contacts</a>
      </li>
      <li routerLinkActive="active" class="nav-item" *ngIf="authService.authState">
        <a routerLink="admin/add-portfolio"  class="nav-link">Admin</a>
      </li>
      <li routerLinkActive="active" class="nav-item" *ngIf="!authService.authState">
        <a routerLink="login"  class="nav-link">Login</a>
      </li>
      <li routerLinkActive="active" class="nav-item" *ngIf="authService.authState">
        <a routerLink="login"  class="nav-link">Logout</a>
      </li>
    </ul>
  </nav>
  <div class="social-wrap">
    <ul class="social-list">
      <li class="social-item"><a href="https://www.facebook.com/hladysh.i" target="_blank" class="social-link"> <i
        class="fa fa-facebook"></i></a></li>
      <li class="social-item"><a href="https://www.linkedin.com/in/ivan-hladysh-42a180115/" target="_blank"
                                 class="social-link"><i class="fa fa-linkedin"></i></a></li>
      <li class="social-item"><a href="https://github.com/hladysh" target="_blank" class="social-link"><i
        class="fa fa-github"></i></a></li>
    </ul>
  </div>
</div>
