.sidebar-contant
  overflow-y: auto
  min-height: 300px
.example-container
  width: 400px
  height: 200px
  margin: 10px
  border: 1px solid #555
.img-wrap
  margin-bottom: 15px
.sidebar-title
  font-size: 19px
  font-weight: 600
  font-style: italic
  margin-bottom: 10px
  text-align: center
  color : #ffffff
.job-title
  color : #9DA1B3
  font-size: 16px
  margin-bottom: 40px
  text-align: center
.nav-list
  margin-bottom: 30px
  .nav-item
    a
      color: #EFEFEF
      font-size: 16px
      font-weight: 600
    &:hover
      a
        color: #6DBCDB
        text-decoration: none
    &.active
      //color: red
      a
        color: #6DBCDB
.social-wrap
  margin-top: auto
  .social-list
    display: flex
    flex-direction: row
    justify-content: center
    .social-item
      margin: 0 8px
  .social-link
    width: 35px
    height: 35px
    border-radius: 50%
    background: #ffffff
    padding: 5px 5px
    display: flex
    justify-content: center
    align-items: center
    border: 1px solid #303F9F
    .fa
      color: #303F9F
    &:hover
      border-color: #fff
      background: #303F9F
      .fa:before
        color: #fff
