<div class="section-item section-about">
  <div class="container">
    <h2 class="section-title">PORTFOLIO</h2>
    <h4 class="section-subtitle"><i class="icon fa fa-bookmark"></i>I’M FRONT-END DEVELOPER</h4>
    <p class="section-text">I enjoy turning complex problems into simple, beautiful and intuitive interface designs.</p>
    <blockquote class="blockquote">
      <i class="icon fa fa-quote-left fa-lg "></i>
      <p> I am sure you just want to check my work out, so I'll be quick. I am not the smartest, but I am smart. I studied Information Technology Security. In the future, who knows? I'll sure be doing web stuff. Maybe for you.
      </p>
      <p> I’m mostly interested in qualifications creating markup and implementing designs with HTML/CSS/JavaScript/jQuery, and have experience with HTML5 and CSS3. </p>
      <p>I’m also accustomed with responsive web design techniques. </p>
      <p>Also, I use Git in my daily work.</p>
      <i class="icon fa fa-quote-right fa-lg " aria-hidden="true"></i>
    </blockquote>

    <hr class="hr-blue">

    <h4 class="section-subtitle"><i class="icon fa fa-file-text-o"></i>PERSONAL INFO</h4>
    <div class="info-wrap">
      <div class="info-item">
        <i class="icon fa fa-globe fa-3x" aria-hidden="true"></i>
        <div class="info-detail">
          <span class="info-title">Language</span>
          <p class="info-descr">Ukraine, English</p>
        </div>
      </div>
      <div class="info-item">
        <i class="icon fa fa-calendar fa-3x" aria-hidden="true"></i>
        <div class="info-detail">
          <span class="info-title">Date of birth</span>
          <p class="info-descr">19 january 1993</p>
        </div>
      </div>
      <div class="info-item">
        <i class="icon fa fa-map-marker fa-3x" aria-hidden="true"></i>
        <div class="info-detail">
          <span class="info-title">Hometown</span>
          <p class="info-descr">Lviv</p>
        </div>
      </div>
    </div>
    <hr class="hr-blue">

    <h4 class="section-subtitle"><i class="icon fa fa-diamond" aria-hidden="true"></i>MY SKILLS</h4>
    <div class="skill-wrap">
      <div class="skill-item" *ngFor="let skill of skills"> {{skill.name}}</div>
    </div>
    <hr class="hr-blue">

    <h4 class="section-subtitle"><i class="icon fa fa-trophy" aria-hidden="true"></i>MY STATS</h4>
    <div class="info-wrap">
      <div class="info-item">
        <i class="icon fa fa-thumbs-up fa-3x" aria-hidden="true"></i>
        <div class="info-detail">
          <span class="info-title">27</span>
          <p class="info-descr">projects done</p>
        </div>
      </div>
      <div class="info-item">
        <i class="icon fa fa-smile-o fa-3x" aria-hidden="true"></i>
        <div class="info-detail">
          <span class="info-title">24+</span>
          <p class="info-descr">happy clients</p>
        </div>
      </div>
      <div class="info-item">
        <i class="icon fa fa-code fa-3x" aria-hidden="true"></i>
        <div class="info-detail">
          <span class="info-title">6 840 104</span>
          <p class="info-descr">lines of coding</p>
        </div>
      </div>
    </div>
  </div>
</div>
