<ul class="d-flex admin-nav">
  <li routerLinkActive="active" class="nav-item">
    <a routerLink="add-portfolio" class="nav-link">Add portfolio</a>
  </li>
  <li routerLinkActive="active" class="nav-item" >
    <a routerLink="../portfolio" class="nav-link">Edit portfolio</a>
  </li>
  <!--<li routerLinkActive="active" class="nav-item" *ngIf="portfolioFormService.editState ">-->
    <!--<a routerLink="../portfolio" class="nav-link">All portfolio</a>-->
  <!--</li>-->
  <!--<li routerLinkActive="active" class="nav-item">-->
    <!--<a routerLink="add-experience" class="nav-link">Add experience</a>-->
  <!--</li>-->
</ul>

