<div class="section-item section-resume">
  <div class="container">
    <h2 class="section-title">RESUME</h2>
    <blockquote class="blockquote">
      <i class="icon fa fa-quote-left fa-lg "></i>
      <p> I graduated from Lviv Politechnic National University.
      </p>
      <p> I am interested in computer science and programming.</p>
      <p>I can learn fast enough to receive results in a short time.</p>
      <p> I'm always glad to learn something new. Especially I like to work in a team and use new technologies.</p>
      <p> Now I’m looking for the job in the field of front-end-developing .</p>
      <i class="icon fa fa-quote-right fa-lg " aria-hidden="true"></i>
    </blockquote>
    <a class="btn-resume" target="_blank" href="https://drive.google.com/open?id=0ByZun7Y7x4VlNXVoQldORG9uTnc">Resume
      PDF</a>

    <hr class="hr-blue">
    <h4 class="section-subtitle"><i class="icon fa fa-graduation-cap"></i>EDUCATION</h4>

    <div class="time-line-wrap">
      <div class="time-line-item">
        <h4 class="time-line-title">Lviv Polytechnic National University</h4>
        <span class="period">2010 – 2015</span>
        <div class="time-line-content">
          <p>Institute of Computer Technologies, Automation and Metrology</p>
          <p>Department of Information Technology Security</p>
        </div>
      </div>
      <div class="time-line-item">
        <h4 class="time-line-title">Logos IT Academy</h4>
        <span class="period">2016</span>
        <div class="time-line-content">
          <p>SEO Training Courses</p>
          <p>I learn the theory behind Google search and other search engine algorithms.</p>
        </div>
      </div>
      <div class="time-line-item">
        <h4 class="time-line-title">Softserve IT Academy</h4>
        <span class="period">2016</span>
        <div class="time-line-content">
          <p>HTML5/ CSS3/ JavaScript Fundamentals</p>
        </div>
      </div>
      <div class="time-line-item">
        <h4 class="time-line-title">Logos IT Academy</h4>
        <span class="period">2016</span>
        <div class="time-line-content">
          <p>Javascript , JQuery</p>
        </div>
      </div>
      <div class="time-line-item">
        <h4 class="time-line-title"><a href="https://www.udemy.com/the-complete-guide-to-angular-2/" target="_blank">udemy.com</a>
          - Angular</h4>
        <span class="period">2018</span>
        <div class="time-line-content">
          <p>Angular 2+ - The Complete Guid by Maximilian Schwarzmüller</p>
        </div>
      </div>
    </div>

    <hr class="hr-blue">
    <h4 class="section-subtitle"><i class="icon fa fa-suitcase"></i> WORK EXPERIENCE</h4>
    <div class="time-line-wrap">
      <div class="time-line-item">
        <h4 class="time-line-title">Freelance</h4>
        <span class="period">03.2017 – 05.2017</span>
      </div>
      <div class="time-line-item">
        <h4 class="time-line-title">JUNIOR FRONT-END DEVELOPER</h4>
        <span class="period">05.2017 - 11.2017</span>
        <div class="time-line-content">
          <p>PocketLance</p>
        </div>
      </div>
      <div class="time-line-item">
        <h4 class="time-line-title">JUNIOR FRONT-END DEVELOPER</h4>
        <span class="period">11.2017 - until now</span>
        <div class="time-line-content">
          <p>Softonix</p>
        </div>
      </div>
    </div>
  </div>
</div>


